In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [5]:
tips.shape

(244, 7)

In [7]:
tips_have = tips.iloc[0:220, : ] # 현재 가진 고객 데이터
tips_new = tips.iloc[220: , : ] # 미래의 고객 데이터

tips_new.drop(['size'], axis=1, inplace = True)

tips_have.shape, tips_new.shape

((220, 7), (24, 6))

In [51]:
sel = ['total_bill', 'tip']

X = tips_have[sel]
y = tips_have['size']   # 우리가 예측할 컬럼

test_X = tips_new[sel]  # 최종 에측용

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
# 예측하려는 타깃이 수치형일때는 RandomForestRegressor를 활용
# 예측하려는 타깃이 범주형일때는 RandomForestClassifier를 활용

In [49]:
model = RandomForestClassifier()
model.fit(X, y)
model.score(X, y)

1.0

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   random_state=0) #계속적으로 뽑을때마다 동일한 기준

In [33]:
model = RandomForestClassifier(max_depth=1)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))  # 과대적합 - overfitting

0.7151515151515152
0.6

In [34]:
# knn 모델
# 의사결정트리 모델
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [35]:
#앙상블
model = RandomForestClassifier(max_depth=6, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8787878787878788
0.5818181818181818

In [36]:
#knn모델
model = KNeighborsClassifier(n_neighbors=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7696969696969697
0.5454545454545454

In [37]:
#의사결정트리
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
0.4909090909090909

In [38]:
#SVC
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7090909090909091
0.6

In [39]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [41]:
dict_sex = {"Male":0, "Female":1}
tips['sex_en']=tips['sex'].map(dict_sex).astype("int32")

dict_smoker = {"No":0, "Yes":1}
tips['smoker_en']=tips['smoker'].map(dict_smoker).astype("int32")

In [42]:
tips

     total_bill   tip     sex smoker   day    time  size  sex_en  smoker_en
0         16.99  1.01  Female     No   Sun  Dinner     2       1          0
1         10.34  1.66    Male     No   Sun  Dinner     3       0          0
2         21.01  3.50    Male     No   Sun  Dinner     3       0          0
3         23.68  3.31    Male     No   Sun  Dinner     2       0          0
4         24.59  3.61  Female     No   Sun  Dinner     4       1          0
..          ...   ...     ...    ...   ...     ...   ...     ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3       0          0
240       27.18  2.00  Female    Yes   Sat  Dinner     2       1          1
241       22.67  2.00    Male    Yes   Sat  Dinner     2       0          1
242       17.82  1.75    Male     No   Sat  Dinner     2       0          0
243       18.78  3.00  Female     No  Thur  Dinner     2       1          0

[244 rows x 9 columns]

In [58]:
tips_have = tips.iloc[0:220, : ] # 현재 가진 고객 데이터
tips_new = tips.iloc[220: , : ] # 미래의 고객 데이터

tips_new.drop(['size'], axis=1, inplace = True)

tips_have.shape, tips_new.shape

C:\Users\Joy\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

((220, 9), (24, 8))

In [60]:
sel = ['total_bill', 'tip','sex_en','smoker_en']

X = tips_have[sel]
y = tips_have['size']   # 우리가 예측할 컬럼

test_X = tips_new[sel]  # 최종 에측용
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   random_state=0) #계속적으로 뽑을때마다 동일한 기준

In [53]:
# get_dummmies는 (pandas)
# dict & map으로 하는 것은 같은 결과 - 라벨인코딩

In [61]:
model = RandomForestClassifier()
model.fit(X, y)
model.score(X, y)

1.0

In [63]:
#앙상블
model = RandomForestClassifier(max_depth=3, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7878787878787878
0.6

In [64]:
# 중복을 허용해 랜덤하게 뽑아 하나의 데이터셋을 만들어 전체적으로 조금씩 다른 데이터 모델을 만듦 - 랜덤포레스트
# 다른 변수(피처)를 무작위로 선택해 다른 모델을 만듦 - 랜덤포레스트 / ex) 10개의 변수라면 10에 루트를 씌운 3개 정도 변수를 사용함
# 각각 서로의 모델에 독립적이다, 영향을 주지 않음
# xgboost나 lightgbm 등은 모델이 의존성이 있음

# max_features : 전체 feature 중에 몇 개의 feature를 선택할지 -> 분류 : sqre(n_features), 회귀 : n_features

In [65]:
# 지니 계수가 낮아지는 방향으로 피처를 선택

In [66]:
import platform
import matplotlib
from matplotlib import font_manager, rc
import matplotlib

In [67]:
# 한글 및 마이너스 표시 설정
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    matplotlib.rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")

matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [69]:
from sklearn.datasets import load_breast_cancer
import mglearn
cancer = load_breast_cancer()

X = cancer.data
y = cancer.target

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                        stratify=cancer.target, 
                                        random_state=0)

In [70]:
#knn모델
model = KNeighborsClassifier(n_neighbors=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.9577464788732394
0.9090909090909091

In [71]:
#의사결정트리
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
0.9230769230769231

In [72]:
#앙상블
model = RandomForestClassifier(max_depth=3, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.9882629107981221
0.9440559440559441

In [73]:
# 5개의 모델에 대한 정확도 평가
for one_model in model.estimators_:
    print("학습용 세트 정확도 : {:.3f}".format(one_model.score(X_train, y_train)))
    print("테스트 세트 정확도 : {:.3f}".format(one_model.score(X_test, y_test)))
    print()

학습용 세트 정확도 : 0.934
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.934
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.941
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.974
테스트 세트 정확도 : 0.951

학습용 세트 정확도 : 0.937
테스트 세트 정확도 : 0.874

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.925
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.967
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.930
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.946
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.967
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.888

학습용 세트 정확도 : 0.960
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.960
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.923
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.860

학습용 세트 정확도 : 0.969
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.941
테스트 세트 정확도 : 0.888

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.946
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.969
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.930
테스트 세트 정확도 : 0.853

학습용 세트 정확도 : 0.946
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.888

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.944
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.946
테스트 세트 정확도 : 0.874

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.967
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.881

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.937

학습용 세트 정확도 : 0.960
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.881

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.941
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.874

학습용 세트 정확도 : 0.925
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.965
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.934
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.944
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.923

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.944

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.930
테스트 세트 정확도 : 0.881

학습용 세트 정확도 : 0.962
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.874

학습용 세트 정확도 : 0.951
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.948
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.918
테스트 세트 정확도 : 0.881

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.960
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.937
테스트 세트 정확도 : 0.888

학습용 세트 정확도 : 0.960
테스트 세트 정확도 : 0.895

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.902

학습용 세트 정확도 : 0.939
테스트 세트 정확도 : 0.888

학습용 세트 정확도 : 0.941
테스트 세트 정확도 : 0.909

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.881

학습용 세트 정확도 : 0.953
테스트 세트 정확도 : 0.930

학습용 세트 정확도 : 0.958
테스트 세트 정확도 : 0.916

학습용 세트 정확도 : 0.955
테스트 세트 정확도 : 0.902